# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
